:root{
    --header-color: rgba(255, 255, 255, 1);
    --logo-first: rgba(33, 150, 243, 1);
    --logo-second: rgba(0, 0, 0, 1);
    --text-header: rgba(33, 33, 33, 1);
    --text-number: rgba(117, 117, 117, 1);

    --main-color: rgba(47, 48, 58, 1);
    --main-color-second: rgba(245, 244, 250, 1);
    --primary-text: rgba(33, 33, 33, 1);
    --secondary-text: rgba(117, 117, 117, 1);
    --filter-button: rgba(245, 244, 250, 1);

    --footer-color: rgba(47, 48, 58, 1);
    --footer-color-second: rgba(255, 255, 255, 0.6);
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--logo-second);
}
.logo-span{
    color: var(--logo-first);
}
.second-span{
    color: var(--header-color);
}
.navigation-link{
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--text-header);
}
.navigation-link:hover,
.navigation-link:focus{
    color: var(--logo-first);
}
.contakts-link{
    font-weight: 500;
    letter-spacing: 0.28px;
    color: var(--text-number);
}
.contakts-link:hover,
.contakts-link:focus{
    color: var(--logo-first);
}
.post{
    background-color: var(--main-color);
}
.team{
    background-color: var(--filter-button);
}

.post-title{
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 2.64px;
    line-height: 136%;
    text-transform: uppercase;
    color: var(--header-color);
}
.post-button{
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    background-color: var(--logo-first);
    color: var(--header-color);
    cursor: pointer;
}
.benefits-title{
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--primary-text);
}
.benefits-text{
    font-weight: 400;
    line-height:171.429%;
    letter-spacing: 0.42px;
    color: var(--secondary-text);
}
.title{
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    color: var(--primary-text);
    margin-bottom: 50px;
    text-align: center;
}
.team-list{
    display: flex;
    justify-content: center;
}
.team-item{
    background-color: var(--header-color);
}
.team-wrap{
    margin-top: 30px;
}
.team-name{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    color: var(--primary-text);
}
.team-position{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    color: var(--secondary-text);
}
.footer{
    background-color: var(--main-color);
}
.address-name{
    font-weight: 400;
    line-height:171.429%;
    letter-spacing: 0.42px;
    color: var(--main-color-second);
}
.address-link{
    font-weight: 400;
    line-height:171.429%;
    letter-spacing: 0.42px;
    color: var(--footer-color-second);
}
 /* Портфоліо */
 .filter-button{
    font-size: 16px;
    font-weight: 500;
    line-height:162.5%;
    letter-spacing: 0.48px;
    border: none;
    margin-right: 8px;
    background-color: var(--filter-button);
 }
 .filter-button:hover,
 .filter-button:focus{
 background-color: var(--logo-first);
}
.portfolio-title{
    font-size: 18px;
    font-weight: 700;
    line-height:200%;
    letter-spacing: 1.08px;
    color: var(--primary-text);
}
.portfolio-text{
    font-size: 16px;
    font-weight: 400;
    line-height:187.5%;
    letter-spacing: 0.48px;
    color: var(--secondary-text);
}
.post{
    padding-top: 200px;
    padding-bottom: 200px;
}
.benefits{
    padding-top: 94px;
    padding-bottom: 94px;
}
.work{
    padding-bottom: 94px;
}
.team{
    padding-top: 94px;
    padding-bottom: 94px;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
}
.filter{
    padding-top: 94px;
    padding-bottom: 94px;
}
.navigation-list{
    display: flex;

}
.navigation-item{
    margin-right: 50px;
}
.contakts{
    display: flex;
}
.contakts-item{
    margin-left: 50px;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 93px;
}
.botton-div{
    display: flex;
    justify-content: center;
}
.title-div{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.benefits-list{
    display: flex;
    justify-content: space-between;
}
.benefits-item{
    width: 270px;
}
.work-list{
    display: flex;
    justify-content: space-between;
}
.work-item{
    width: 370px;
}
.team-list{
    display: flex;
    justify-content: space-between;
}
.team-item{
    width: 270px;
}
.address{
    display: flex;
    flex-direction: column;
}
.address-link{
    margin-top: 9px;
}
.address-name{
    margin-top: 20px;
}
.header{
    padding-top: 24px;
    padding-bottom: 25px;
}
.filter-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.portfolio-item{
    margin-bottom: 30px;
    border: 1px solid rgba(238, 238, 238, 1);
}
.portfolio-title
.portfolio-text{
    padding-left: 24px;
    padding-top: 24px;
}


